In [ ]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/새만금 공공 빅데이터 분석 공모전/경희/TCS_전북권톨게이트진출입일교통량_1일_분기_2023_2qt', encoding='euc-kr')

df.head()

,집계일자,영업소코드,영업소명,입출구구분코드,입출구명,TCS하이패스구분코드,TCS하이패스명,고속도로운영기관구분코드,고속도로운영기관명,영업형태구분코드,영업형태명,1종교통량,2종교통량,3종교통량,4종교통량,5종교통량,6종교통량,총교통량
0,20230401,109,계룡,0,입구,1,TCS,0,한국도로공사,0,폐쇄식,356,16,31,27,1,3,434
1,20230401,109,계룡,0,입구,2,hi-pass,0,한국도로공사,0,폐쇄식,3254,93,80,82,116,128,3753
2,20230401,109,계룡,1,출구,1,TCS,0,한국도로공사,0,폐쇄식,382,19,23,28,3,60,515
3,20230401,109,계룡,1,출구,2,hi-pass,0,한국도로공사,0,폐쇄식,2967,89,76,85,124,117,3458
4,20230401,505,고창,0,입구,1,TCS,0,한국도로공사,0,폐쇄식,417,12,9,3,0,2,443

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
new_df = df.groupby('영업소명')['총교통량'].sum().reset_index()

new_df

   영업소명     총교통량
0    계룡   716471
1    고창   451937
2    광천   646039
3    군산  1002641
4    금산   675969
5   금산사   153357
6    김제   556507
7   남대전  1520104
8   내장산   377596
9    논산  1058542
10   대천   988835
11  덕유산   193866
12  동군산  1004098
13  동전주   844211
14   무주   592527
15  무창포   502422
16   부안   571233
17   삼례   479482
18   상관   886019
19  서김제   243183
20  서전주  1414088
21   서천   799601
22  선운산   468725
23   소양   669965
24   양촌   253095
25   완주  1279094
26   익산  1318649
27   장수   423702
28   전주  1756859
29   정읍   869068
30   줄포   254400
31   진안   266938
32   추부   805252
33  춘장대   232674
34   태인   441827

In [ ]:
sorted_df = new_df.sort_values(by='총교통량', ascending = False)

sorted_df

   영업소명     총교통량
28   전주  1756859
7   남대전  1520104
20  서전주  1414088
26   익산  1318649
25   완주  1279094
9    논산  1058542
12  동군산  1004098
3    군산  1002641
10   대천   988835
18   상관   886019
29   정읍   869068
13  동전주   844211
32   추부   805252
21   서천   799601
0    계룡   716471
4    금산   675969
23   소양   669965
2    광천   646039
14   무주   592527
16   부안   571233
6    김제   556507
15  무창포   502422
17   삼례   479482
22  선운산   468725
1    고창   451937
34   태인   441827
27   장수   423702
8   내장산   377596
31   진안   266938
30   줄포   254400
24   양촌   253095
19  서김제   243183
33  춘장대   232674
11  덕유산   193866
5   금산사   153357