In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
parameters = ["DO (mg/L)", "FC (MPN/100ml)", "pH", "BOD (mg/L)", "NO3-N (mg/L)",
              "TP (mg/L)", "TC (ºC)", "TS (mg/L)"]
weight = [0.18, 0.16, 0.13, 0.11, 0.11, 0.11, 0.11, 0.09]

data = {"Parameters": parameters, "Weight": weight}
weight_table = pd.DataFrame(data)

In [3]:
weight_table

       Parameters  Weight
0       DO (mg/L)    0.18
1  FC (MPN/100ml)    0.16
2              pH    0.13
3      BOD (mg/L)    0.11
4    NO3-N (mg/L)    0.11
5       TP (mg/L)    0.11
6         TC (ºC)    0.11
7       TS (mg/L)    0.09

In [4]:
raw_data = pd.read_csv("새만금 수질지표.csv", encoding="cp949")
raw_data.head()

,측정소명,년,월,수온(℃),DO(㎎/L),BOD(㎎/L),TP(㎎/L),수소이온농도,전기전도도(μS/㎝),질산성 질소(㎎/L),분원성대장균군수,투명도(m)
0,소양천1,2023,5,16.1,9.5,0.9,0.016,8.3,159,0.368,35.0,NaN
1,소양천2,2023,5,19.7,11.4,2.0,0.039,8.5,321,2.031,30.0,NaN
2,전주,2023,5,20.3,10.8,2.6,0.092,7.8,192,1.595,25.0,NaN
3,전주천1,2023,5,15.1,10.4,0.3,0.009,8.2,156,2.008,36.0,NaN
4,삼천1,2023,5,19.1,9.8,0.8,0.047,8.0,159,0.720,31.0,NaN

In [5]:
del raw_data['투명도(m)']

In [6]:
raw_data

,측정소명,년,월,수온(℃),DO(㎎/L),BOD(㎎/L),TP(㎎/L),수소이온농도,전기전도도(μS/㎝),질산성 질소(㎎/L),분원성대장균군수
0,소양천1,2023,5,16.1,9.5,0.9,0.016,8.3,159,0.368,35.0
1,소양천2,2023,5,19.7,11.4,2.0,0.039,8.5,321,2.031,30.0
2,전주,2023,5,20.3,10.8,2.6,0.092,7.8,192,1.595,25.0
3,전주천1,2023,5,15.1,10.4,0.3,0.009,8.2,156,2.008,36.0
4,삼천1,2023,5,19.1,9.8,0.8,0.047,8.0,159,0.720,31.0
5,삼천2,2023,5,21.6,9.9,2.2,0.060,8.1,206,0.391,2800.0
6,삼천3,2023,5,19.9,8.7,2.9,0.073,8.0,260,0.260,610.0
7,삼례,2023,5,18.4,8.7,1.3,0.031,7.2,303,4.029,2400.0
8,익산천1,2023,5,16.9,8.3,1.7,0.092,7.3,339,2.448,2800.0
9,익산천2,2023,5,18.0,8.4,1.7,0.097,7.4,337,2.533,3200.0
10,익산천3,2023,5,19.1,8.9,1.3,0.130,7.4,237,3.041,3900.0
11,마산천,2023,5,20.4,10.9,4.7,0.139,8.3,468,4.158,100.0
12,용암천,2023,5,19.1,9.2,5.9,0.153,8.2,431,2.650,100.0
13,동진강1,2023,5,18.4,9.6,1.3,0.020,7.8,161,1.891,24.0
14,용호천,2023,5,16.5,6.8,3.4,0.122,8.1,352,0.996,2200.0
15,동진강2,2023,5,22.8,8.5,3.8,0.117,7.4,242,1.630,50.0
16,정읍천1,2023,5,16.1,9.8,1.2,0.018,8.3,158,0.808,49.0
17,정읍천2,2023,5,17.3,9.9,1.6,0.023,8.2,170,1.079,710.0
18,천원천,2023,5,19.4,10.2,3.1,0.079,7.9,252,1.048,97.0
19,정읍천3,2023,5,19.6,9.7,2.5,0.055,8.1,222,0.881,140.0
20,고부천1,2023,5,17.5,9.3,3.6,0.054,7.9,368,1.117,78.0
21,고부천2,2023,5,18.3,9.0,3.1,0.047,8.0,400,1.501,42.0
22,고부천3,2023,5,19.6,9.9,3.7,0.108,7.8,298,NaN,NaN
23,원평천1,2023,5,24.6,8.8,16.0,0.091,7.7,313,1.367,36.0
24,원평천2,2023,5,22.5,9.8,5.5,0.048,8.9,278,4.566,58.0
25,원평천3,2023,5,19.4,9.0,4.3,0.134,7.6,270,NaN,NaN
26,신평천,2023,5,21.9,8.4,3.5,0.036,7.9,252,1.454,150.0
27,백천내,2023,5,17.4,9.6,0.6,0.008,6.0,143,3.365,0.0

In [7]:
raw_data["TS (mg/L)"] = raw_data["전기전도도(μS/㎝)"] * 0.65

In [8]:
raw_data.head()

,측정소명,년,월,수온(℃),DO(㎎/L),BOD(㎎/L),TP(㎎/L),수소이온농도,전기전도도(μS/㎝),질산성 질소(㎎/L),분원성대장균군수,TS (mg/L)
0,소양천1,2023,5,16.1,9.5,0.9,0.016,8.3,159,0.368,35.0,103.35
1,소양천2,2023,5,19.7,11.4,2.0,0.039,8.5,321,2.031,30.0,208.65
2,전주,2023,5,20.3,10.8,2.6,0.092,7.8,192,1.595,25.0,124.80
3,전주천1,2023,5,15.1,10.4,0.3,0.009,8.2,156,2.008,36.0,101.40
4,삼천1,2023,5,19.1,9.8,0.8,0.047,8.0,159,0.720,31.0,103.35

In [9]:
def cal_qph(ph):
    return 100 * (ph - 7.0) / (8.5 - 7.0)

In [10]:
def cal_qdo(do):
    return 100 * (do - 14.6) / (5.0 - 14.6)

In [11]:
def cal_qts(ts):
    return 100 * (ts / 500)

In [12]:
def cal_qno3n(no3n):
    return 100 * (no3n / 45)

In [13]:
def cal_qfc(fc):
    return 100 * (fc / 5)

In [14]:
def cal_qbod(bod):
    return 100 * (bod / 5)

In [15]:
def cal_qtp(tp):
    return 100 * (tp / 0.1)

In [16]:
def cal_qtc(tc):
    return 100 * (tc / 10)

In [17]:
q_values = pd.DataFrame([])
q_values['DO (mg/L)'] = raw_data['DO(㎎/L)'].apply(lambda x: cal_qdo(x))
q_values['FC (MPN/100ml)'] = raw_data['분원성대장균군수'].apply(lambda x: cal_qfc(x))
q_values['pH'] = raw_data['수소이온농도'].apply(lambda x: cal_qph(x))
q_values['BOD (mg/L)'] = raw_data['BOD(㎎/L)'].apply(lambda x: cal_qbod(x))
q_values['NO3-N (mg/L)'] = raw_data['질산성 질소(㎎/L)'].apply(lambda x: cal_qno3n(x))
q_values['TP (mg/L)	'] = raw_data['TP(㎎/L)'].apply(lambda x: cal_qtp(x))
q_values['TC (ºC)'] = raw_data['수온(℃)'].apply(lambda x: cal_qtc(x))
q_values['TS (mg/L)	'] = raw_data['TS (mg/L)'].apply(lambda x: cal_qts(x))

In [18]:
q_values.head()

,DO (mg/L),FC (MPN/100ml),pH,BOD (mg/L),NO3-N (mg/L),TP (mg/L)\t,TC (ºC),TS (mg/L)\t
0,53.125000,700.0,86.666667,18.0,0.817778,16.0,161.0,20.67
1,33.333333,600.0,100.000000,40.0,4.513333,39.0,197.0,41.73
2,39.583333,500.0,53.333333,52.0,3.544444,92.0,203.0,24.96
3,43.750000,720.0,80.000000,6.0,4.462222,9.0,151.0,20.28
4,50.000000,620.0,66.666667,16.0,1.600000,47.0,191.0,20.67

In [19]:
def multiply_and_sum(row):
    return (row * weight_table['Weight']).sum()

In [20]:
raw_data['WQI'] = q_values.apply(multiply_and_sum, axis=1)
raw_data

,측정소명,년,월,수온(℃),DO(㎎/L),BOD(㎎/L),TP(㎎/L),수소이온농도,전기전도도(μS/㎝),질산성 질소(㎎/L),분원성대장균군수,TS (mg/L),WQI
0,소양천1,2023,5,16.1,9.5,0.9,0.016,8.3,159,0.368,35.0,103.35,0.0
1,소양천2,2023,5,19.7,11.4,2.0,0.039,8.5,321,2.031,30.0,208.65,0.0
2,전주,2023,5,20.3,10.8,2.6,0.092,7.8,192,1.595,25.0,124.80,0.0
3,전주천1,2023,5,15.1,10.4,0.3,0.009,8.2,156,2.008,36.0,101.40,0.0
4,삼천1,2023,5,19.1,9.8,0.8,0.047,8.0,159,0.720,31.0,103.35,0.0
5,삼천2,2023,5,21.6,9.9,2.2,0.060,8.1,206,0.391,2800.0,133.90,0.0
6,삼천3,2023,5,19.9,8.7,2.9,0.073,8.0,260,0.260,610.0,169.00,0.0
7,삼례,2023,5,18.4,8.7,1.3,0.031,7.2,303,4.029,2400.0,196.95,0.0
8,익산천1,2023,5,16.9,8.3,1.7,0.092,7.3,339,2.448,2800.0,220.35,0.0
9,익산천2,2023,5,18.0,8.4,1.7,0.097,7.4,337,2.533,3200.0,219.05,0.0
10,익산천3,2023,5,19.1,8.9,1.3,0.130,7.4,237,3.041,3900.0,154.05,0.0
11,마산천,2023,5,20.4,10.9,4.7,0.139,8.3,468,4.158,100.0,304.20,0.0
12,용암천,2023,5,19.1,9.2,5.9,0.153,8.2,431,2.650,100.0,280.15,0.0
13,동진강1,2023,5,18.4,9.6,1.3,0.020,7.8,161,1.891,24.0,104.65,0.0
14,용호천,2023,5,16.5,6.8,3.4,0.122,8.1,352,0.996,2200.0,228.80,0.0
15,동진강2,2023,5,22.8,8.5,3.8,0.117,7.4,242,1.630,50.0,157.30,0.0
16,정읍천1,2023,5,16.1,9.8,1.2,0.018,8.3,158,0.808,49.0,102.70,0.0
17,정읍천2,2023,5,17.3,9.9,1.6,0.023,8.2,170,1.079,710.0,110.50,0.0
18,천원천,2023,5,19.4,10.2,3.1,0.079,7.9,252,1.048,97.0,163.80,0.0
19,정읍천3,2023,5,19.6,9.7,2.5,0.055,8.1,222,0.881,140.0,144.30,0.0
20,고부천1,2023,5,17.5,9.3,3.6,0.054,7.9,368,1.117,78.0,239.20,0.0
21,고부천2,2023,5,18.3,9.0,3.1,0.047,8.0,400,1.501,42.0,260.00,0.0
22,고부천3,2023,5,19.6,9.9,3.7,0.108,7.8,298,NaN,NaN,193.70,0.0
23,원평천1,2023,5,24.6,8.8,16.0,0.091,7.7,313,1.367,36.0,203.45,0.0
24,원평천2,2023,5,22.5,9.8,5.5,0.048,8.9,278,4.566,58.0,180.70,0.0
25,원평천3,2023,5,19.4,9.0,4.3,0.134,7.6,270,NaN,NaN,175.50,0.0
26,신평천,2023,5,21.9,8.4,3.5,0.036,7.9,252,1.454,150.0,163.80,0.0
27,백천내,2023,5,17.4,9.6,0.6,0.008,6.0,143,3.365,0.0,92.95,0.0